* {
    border: 0;
    padding: 0;
    margin: 0;
}
div {
    background-color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    
}

.menu-item:hover {
    background-color: #ddd;
}

body {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}



footer {
    background-color: #333;
    color: #333;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    bottom: 0;
    margin-bottom: 20px 0; 
    align-items: center;
    justify-content: center;
}
nav .menu-item {
    text-decoration: none;
    color: #333;
    font-size: 18px; 
    margin-right: 30px; 
    list-style-type: none; 
    
}
.menu-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px; 
}
.menu {
    list-style-type: none; 
    display: flex; 
}
.menu-item {
    margin-right: 30px; 
}
.menu-item.active {
    background-color: #aaa;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
p{
    margin: 1rem;
    font-size: 1em;
    background: #eee;
    padding: 8px 24px;
    border-radius: 16px;
}
.parallax {
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
@media (max-width: 768px) {
    .parallax {
        background-attachment: scroll; 
        height: 50vh; 
        
    }
   
    nav .menu {
        flex-direction: column; 
        align-items: center;
    }

    .menu-item {
        margin-right: 0;
        margin-bottom: 10px; 
    }
}